@import 'src/styles/variables';
@import 'src/styles/mixins';
.navbar {
  background-color: transparent;
  padding: 0;
  height: 104px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.nav {
  display: none;
  @include breakpoint('tablet') {
    display: flex;
    align-items: center;
  }
}
.nav-link {
  font-family: 'Avenir Next Medium';
  font-size: 16px;
  line-height: 22px;
  color: $primary;
  margin: 0 20px;
  padding: 0.25rem 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-bottom: 2px solid $primary;
    color: $primary;
  }
}
.open-icon {
  display: block;
  @include breakpoint('tablet') {
    display: none;
  }
}

.acc-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.acc-text {
  font-family: 'Avenir Next Medium';
  font-size: 16px;
  line-height: 22px;
  color: $primary;
  margin-bottom: 0;
}

.acc-icon {
  margin-right: 9px;
}


.nav-btn {
  max-height: 40px !important;
  max-width: 140px !important;
  border-radius: 6px;
}

.nav-container {
  width: 100% !important;
  display: flex;
  align-items: center;
  padding: 0 56px 0 48px;
}